<!DOCTYPE html>
<html>
<head>
    <!-- Inne meta tagi i linki do stylów -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Inne linki do stylów -->
</head>
<body>
{% block body %}{% endblock %}
<!-- Inne skrypty -->
</body>
</html>
