{% extends 'base.html.twig' %}

{% block title %}Dodaj Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Dodaj Nowy Post</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Dodaj Post</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
