{# templates/post/delete_post_form.html.twig #}
<form method="post" action="{{ path('post_delete', {'id': post.id}) }}"  style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-post' ~ post.id) }}">
    <button class="btn btn-danger" type="submit">{{ 'button.delete'|trans }}</button>
</form>
